*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans',sans-serif;
    overflow-y: hidden;
}

:root{
    --colordark1:#112D4E;
    --colordark2:#3F72AF;
    --colorlight1:#DBE2EF;
    --colorlight2:#F9F7F7;
}
.wraper{
    width:100vw;
    height: 100vw;
    columns: var(--colorlight2);
    background: rgb(10,75,111);
    background: linear-gradient(42deg, rgba(10,75,111,1) 35%, rgba(0,211,255,1) 100%);

    
}
h1{
    text-align: center;
    padding: 20px;
    color: #DBE2EF;
}

.menu{
    max-width: 550px;
    /* max-height: 30px; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color:#DBE2EF;
}

.location{
    
    /* height: 100vh; */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color:#DBE2EF;
}

.searchpage{
    display: none;
    max-width: 550px;
    justify-content: center;
    margin: auto;
    padding: 40px;
    gap: 10px;
   
    
}

.cards{
    max-width: 550px;
    justify-content: space-between;
    display: flex;
    color: #DBE2EF;
    margin: auto;
}

.dynamic{
    
    font-size: 1.5rem;
    font-weight: 200;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #DBE2EF;
    margin: auto;
    margin-bottom: 50px;
   
}

.loading{
    max-width: 550px;
    justify-content: center;
    margin: auto;
    align-items: center;
    display: none;
    flex-direction: column;
    color: #DBE2EF;
    gap: 50px;

}
.satatusimg{
    width: 90px;
    height: 90px;
}
.tab{
    cursor: pointer;
    max-height: 30px;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 4px;
}

.button{
    all:unset;
    font-size: 0.85rem;
    background-color: var(--colordark2);
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px ;
}
#pos{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 10px;
}

#pos img{
    width: 20px;
    height: 20px;
}

.cards{
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 4px;
}

.cards img{
    width: 50px;
    height: 50px;
}

.parameter{
   
   
    width: 150px;
    height: 150px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}






.searchpage input{
    all:unset;
    color: #DBE2EF;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
}

.searchpage input::placeholder{
    color: rgba(255,255,255,0.7);
}
.searchpage input:focus{
    outline: 3px solid rgba(255,255,255,0.7);;
}

.searchpage button{
    all:unset;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    
}
.searchpage button img{
    width: 40px;
    height: 40px;
}
.searchpage.active{
    display: flex;
}
.location.active{
    display: flex;
}
.loading.active{
    display: flex;
}
.disc.active{
    display: flex;
    flex-direction: column;
}
.disc{
    display: none;
}

.forcast{
    all: unset;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.forcast img{
    width: 100%;
    height: 100%;
}
